@use 'fonts';
$primary-color: #ED202D;      
$secondary-color: #B73138;     
$accent-color: #646469a7;         
$body-text-color: #000;     
$nav-links-color: #fff;
$hero-gray: #4a4a4a;
$pink-bg: #e9cfcf;
$black: #111111;
$button-red: #B3212C;
$placeholder-gray: #716f6f;
$muted-text: #5a5a5a;