@use '../abstracts';

body {
    font-family: abstracts.$body-font-family; 
    padding: 0;
    margin: 0;
}
.hidden {
    display: none;
}
.wrapper {
     background-color: abstracts.$primary-color;
}
h1 {
    font-family: abstracts.$heading-font-family;
}