@use '../abstracts';

.contact-header {
    margin: 40px ;

    h2 {
        color: abstracts.$primary-color;
    }  
}
.contact-section {
    background-color: #F9D6D6;
    margin: 50px 0px 60px 0px;
    padding: 20px;

 h3 {
    text-align: center;
    }
    label {
        font-size: 12px;
        font-weight: abstracts.$font-bold;
        color: abstracts.$secondary-color;
        
    }
    input,
  textarea {
   width: 100%;
   padding: 7px;
   border: 1px solid abstracts.$secondary-color;
   border-radius: 4px;
   margin-top: 10px;
   margin-bottom: 20px;
     }

  button[type="submit"] {
   width: 35%;
   padding: 10px;
   border: 1px solid abstracts.$secondary-color;
   color: abstracts.$secondary-color;
   cursor: pointer;
   font-size: 11px;
   font-weight: abstracts.$font-bold;
   margin-top: 15px;
   margin-bottom: 15px;
   transition: all 0.3s ease-in-out;
   border-radius: 24px;
   margin-left: auto; 
   display: block;

   &:hover {
   background-color: abstracts.$primary-color;
   color: abstracts.$nav-links-color;

 }
 }
}
#contact-form input::placeholder,
#contact-form textarea::placeholder {
    font-style: italic;
}
#feedback {
    font-size: 11px;
    color: abstracts.$primary-color;
}