@use '../abstracts';

.portfolio-card {
    margin: 50px 0px 50px 0px;
    overflow: hidden;
    transition: transform 0.3s ease;
     &:hover {
     transform: translateY(-5px);
     }
}


.card-image img {
width: 205px;
  object-fit: cover;
  filter: blur(3px);
  transform: scale(1.1);
}

.student-name {
    cursor: pointer;
}
.card-footer {
  background-color: abstracts.$secondary-color;
  color: abstracts.$nav-links-color;
  padding: 15px;
}

.icons {
  display: flex;
  gap: 10px;
}
.icons img, .icons i {
    color: abstracts.$nav-links-color;
    width: 30px;
    height: 30px;
    border: 1px solid abstracts.$nav-links-color;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}